<div id="primary">
    <section id="archive" class="archive post" style="padding: 20px 15px 15px 35px;">

        <{if $count===0}>
        <p style='text-align: center;margin-top: 40px;font-size: 40px;text-indent: 0;'>暂无文章,无法归档</p>
        <{else}>
        <p class="article-info-text"> 时光荏苒，斗转星移，时空变换，唯一不变的依然是那心中的想往。</p>
        <{/if}>
        <{foreach $data as $key => $val}>
        <div class="collection-title">
            <h2 class="archive-year"><{$key}></h2>
        </div>
        <{foreach $val as $v}>
        <div class="archive-post">
        <span class="archive-post-time">

            <{$v.day}>

        </span>
            <span class="archive-post-title">
          <a href="<{url m='index' c='article' a='get' alian=$v.alians}>" class="archive-post-link">
            <{$v.title}>
          </a>
        </span>
        </div>
        <{/foreach}>
        <{/foreach}>

    </section>
</div>