<div id="content">
<div id="primary" class="home">
    <div id="title" class="post" style='font-size: 18px'><{$title}></div>
    <div id="articleList"></div>
    <nav class="pagination">
        <{include file='page'}>
    </nav>
</div>
<div id="secondary">
    <{foreach $sidebar as $v}>
    <{$v nofilter}>
    <{/foreach}>
</div>
</div>
<script>
    var getTagUrl='<{url m="index" c="api" a="Tag"}>';
    var tagName='<{$tag}>';
</script>
<script>
    getScripts([
        "<{$i}>/js/tag.js"
    ]);
</script>