<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="<{$i}>/images/favicon.ico" rel="icon">
    <title><{$title}></title>
    <link rel="stylesheet" href="<{$i}>/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="<{$i}>/module/admin.css"/>

    <style>
        .layui-nav-tree .layui-nav-item  .layui-nav-child{
            display: none !important;
        }
        .layui-nav-tree .layui-nav-itemed > .layui-nav-child{
            display: block !important;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div class="layui-header">
        <div class="layui-logo">
            <img src="/i/upload/sys/head.jpg" class="headBody"/>
            <cite>&nbsp;Time 后台管理</cite>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <!--<li class="layui-nav-item" lay-unselect>
                <a ew-event="message" title="消息">
                    <i class="layui-icon layui-icon-notice"></i>
                    <span class="layui-badge-dot"></span>
                </a>
            </li>-->
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="note" title="便签"><i class="layui-icon layui-icon-note"></i></a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
            </li>
           <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a ew-event="lockScreen" title="锁屏"><i class="layui-icon layui-icon-password"></i></a>
            </li>-->
            <li class="layui-nav-item" lay-unselect>
                <a>
                    <img src="/i/upload/sys/head.jpg" class="layui-nav-img headBody">
                    <cite><{$name}></cite>
                </a>
                <dl class="layui-nav-child">
                    <dd lay-unselect><a ew-href='<{url m="admin" c="main" a="page" page="adminInfo"}>'>个人中心</a></dd>
                    
                    <hr>
                    <dd lay-unselect><a ew-event="logout" data-url='<{url m="admin" c="main" a="logout"}>'>退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="theme" title="主题"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>

    <!-- 侧边栏 -->
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree arrow2" lay-filter="admin-side-nav" lay-shrink="all">
                <{foreach $data as $item}>
                <li class="layui-nav-item <{if $item@first}>layui-nav-itemed<{/if}>">
                    <a lay-href="<{$item.url}>"><i class="iconfont <{$item.icon}>"></i>&emsp;<cite><{$item.name}></cite></a>
                    <{if is_array($item.subMenus)}>
                    <dl class="layui-nav-child">
                        <{foreach $item.subMenus as $subitem}>
                        <dd><a lay-href="<{$subitem.url}>"><i class="iconfont <{$subitem.icon}>"></i>&emsp;<cite><{$subitem.name}></cite></a></dd>
                        <{/foreach}>
                    </dl>    
                    <{/if}>
                </li>
                <{/foreach}>
            </ul>
        </div>
    </div>

    <!-- 主体部分 -->
    <div class="layui-body"></div>
    <!-- 底部 -->
    <div class="layui-footer layui-text">
        copyright © <{date('Y')}> <a href="http://www.dreamn.cn" target="_blank">Time</a> all rights reserved.
        <span class="pull-right">Version <{$ver}></span>
    </div>
</div>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="<{$i}>/libs/layui/layui.js"></script>
<script>
    var i='<{$i}>';
    var theme='<{url m="admin" c="main" a="tpl" tpl="tpl-theme"}>';
    var note='<{url m="admin" c="main" a="tpl" tpl="tpl-note"}>';
    var message='<{url m="admin" c="main" a="tpl" tpl="tpl-message"}>';
    var password='<{url m="admin" c="main" a="tpl" tpl="tpl-password"}>';
    var screen='<{url m="admin" c="main" a="tpl" tpl="tpl-lock-screen"}>';
</script>
<script type="text/javascript" src="<{$i}>/js/common.js"></script>
<script>
    layui.use(['index'], function () {
        var $ = layui.jquery;
        var index = layui.index;

        // 默认加载主页
        index.loadHome({
            menuPath: '<{url m="admin" c="main" a="page" page="console"}>',
            menuName: '<i class="layui-icon layui-icon-home"></i>'
        });

    });
</script>
</body>
</html>