<div class="layui-card">
    <div class="layui-card-body">
        <!-- 表格工具栏 -->
            <blockquote class="layui-elem-quote quoteBox">
                <form class="layui-form layui-form-pane" >

                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal addNews_btn" id="add" ew-href="<{url  m='admin' c='main' a='page' page='newsEdit'}>" ew-title="添加文章">添加文章</a>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="height: 36px;
    border-radius: 5px;">文章类型</label>
                        <div class="layui-input-inline">
                            <select id="artice_type" lay-filter="artice_type" >
                                <option value="">不限制</option>
                                <option value="1">隐藏文章</option>
                                <option value="0">可视文章</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input class="layui-input searchVal" id="key" name="key" placeholder="请输入搜索的内容"  type="text"/>
                        </div>
                        <a class="layui-btn search_btn" data-type="reload" lay-filter="tbBasicTbSearch" lay-submit>搜索</a>
                    </div>
                </form>
            </blockquote>
        <!-- 数据表格 -->
        <table id="tbBasicTable" lay-filter="tbBasicTable"></table>
    </div>
</div>

<script type="text/html" id="tbBasicTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="look">预览</a>
</script>
<script>
    var geturl=  "<{url  m='api' c='article' a='get'}>";
    var editurl=  "<{url  m='admin' c='main' a='page' page='newsEdit'}>";
    var delurl=  "<{url  m='api' c='article' a='del' gid=''}>";
    var setOption=  "<{url  m='api' c='article' a='SetOption'}>";
</script>
<!--include_start-->
<script>
    layui.use(['layer', 'form', 'table','admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        /* 渲染表格 */
        var insTb = table.render({
            elem: '#tbBasicTable',
            url:geturl ,
            page: true,
            cellMinWidth: 100,
            where:{ type:$("#artice_type").val(),
                key:$("#key").val()},
            limit: 7,
            loading:true,
            cols: [[
                {field: 'gid', title: 'ID', width: 60, align: "center"},
                {field: 'title', title: '文章标题', minWidth: 200},
                {field: 'date', title: '发布时间', width: 165},
                {field: 'views', title: '阅读', width: 60},
                {field: 'password', title: '密码', width: 120},
                {
                    field: 'top', title: '是否置顶', align: 'center', width: 100, templet: function (d) {
                        return '<input type="checkbox" name="top"  value="' + d.gid + '"  lay-filter="top" lay-skin="switch" lay-text="置顶|不置顶" ' + (parseInt(d.top) === 0 ? '' : 'checked') + '>'
                    }
                },
                {
                    field: 'hide', title: '状态', align: 'center', width: 100,templet: function (d) {
                        return '<input type="checkbox" name="hide"  value="' + d.gid + '"  lay-filter="hide" lay-skin="switch" lay-text="显示|隐藏" ' + (parseInt(d.hide) === 1 ? '' : 'checked') + '>'
                    }
                },
                    {title: '操作', toolbar: '#tbBasicTbBar', align: 'center',fixed: "right", minWidth: 170}
            ]]
        });

        form.on('select(artice_type)', function () {
            insTb.reload({
                where:{
                    type:$("#artice_type").val(),
                    key:$("#key").val()
                }
            });
        });

        form.on('switch(top)', function (obj) {

            var data = {id: this.value, opt: this.name, val: obj.elem.checked ? '1' : '0'};
            //向后台setoption
            saveChange(setOption, data,'置顶中...',function (data) {
                if(data.state){
                    notice.msg('置顶成功', {icon: 1});
                    insTb.reload();
                } else{
                    notice.msg('置顶失败'+data.msg, {icon: 2});
                }

            });

        });
        form.on('switch(hide)', function (obj) {
            var data = {id: this.value, opt: this.name, val: obj.elem.checked ? '0' : '1'};
            //向后台setoption
            saveChange(setOption, data,'隐藏中...',function (data) {
                if(data.state){
                    notice.msg('隐藏成功', {icon: 1});
                    insTb.reload();
                } else{
                    notice.msg('隐藏失败'+data.msg, {icon: 2});
                }

            });

        });
        /* 表格搜索 */
        form.on('submit(tbBasicTbSearch)', function (data) {
            insTb.reload({where: {
                    type:$("#artice_type").val(),
                    key:$("#key").val()
                }});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(tbBasicTable)', function (obj) {
            var data = obj.data; // 获得当前行数据
            if (obj.event === 'edit') { // 修改
                update(data);
            } else if (obj.event === 'del') { // 删除
                layer.confirm('确定删除此文章？', {icon: 3, title: '提示信息'}, function (index) {
                    $.get(delurl + data.gid, function (data) {
                        if (parseInt(data.code)===-1) layer.msg('删除失败！' + data.msg);
                        else {
                            layer.msg('删除成功！');
                            insTb.reload();
                        }
                        layer.close(index);
                    }, 'json')
                });
            } else if (obj.event === 'look') { // 查看
                window.open('/posts/' + data.alians, '_blank');
            } 

        });
        function update(edit) {
            var index =  parent.layui.admin.open({
                type: 2,
                title: '修改文章',
                content: editurl,
                area:["100%", '100%'],
                data: edit,
                anim: 5,
                success: function (layero, index) {
                    parent.layer.full(index);
                }
            });
            parent.layer.full(index);


        }
        /*添加*/
       

    });
</script>
<!--include_end-->